<!-- Header -->
<header id='header' class='header container'>
    <a href='{{ '/' | relative_url }}' class='logo'>{{ site.data.header.content }}</a>
    {% if site.menus.main and site.data.header.has_nav %}
    <nav>
        {% for item in site.menus.main %}
        <a class="nav-link{% if page.url == item.url %} active{% endif %}" href="{% assign expr_1 = item.url | starts_with: '#' %}{% if expr_1 %}{{ item.url }}{% else %}{{ item.url | relative_url }}{% endif %}">{{ item.title }}</a>
        {% endfor %}
    </nav>
    {% endif %}
</header>
